body {
  background: #fcfcfc;
}

#board {
  -webkit-perspective: 1000;
  position: relative;
  width: 352px;
  margin: 0 auto;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  border: 1px solid #333;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .4s linear;
}

.card div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.card .front {
  background: #6633cc;
  border-radius: 8px;
}

.card .back {
  background: #ec3366;
  -webkit-transform: rotateX(180deg);
  position: relative;
  border-radius: 8px;
}

.card .back img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-18% 0 0 -18%;
}

.card.flipped {
  -webkit-transform: rotateX(180deg);
}