body {
  background: url(../gfx/wood.jpg);
}

#board {
  -webkit-perspective: 1000;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  border: 4px solid #efefef;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .4s linear;
}

.card div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.card .front {
  background: #ececec;
  -webkit-transform: rotateX(180deg);
  position: relative;
  border-radius: 4px;
}

.card .back {
  background: url(../gfx/card_back.png);
  border-radius: 4px;
}

.card .front img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-18% 0 0 -18%;
}

.card.flipped {
  -webkit-transform: rotateX(180deg);
}